_cjs
_esm
_types
*.local
.DS_Store
.eslintcache
.next
bench
cache
coverage
node_modules
tsconfig*.tsbuildinfo
esbuild-why-permissionless*

# local env files
.env
.env.local
.env.staging
.env.production
.env.development.local
.env.test.local
.env.production.local
.envrc
.vscode