services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:nightly-f6208d8db68f9acbe4ff8cd76958309efb61ea0b
    ports: [ "8545:8545" ]
    entrypoint: [ "anvil", "--host", "0.0.0.0", "--block-time", "0.1", "--accounts", "100", "--silent"]

  mock-paymaster:
    build: ./mock-paymaster
    ports: [ "3000:3000" ]
    environment:
      - ALTO_RPC=http://alto:4337
      - ANVIL_RPC=http://anvil:8545

  alto:
    build: ./alto
    ports: [ "4337:4337" ]
    environment:
      ANVIL_RPC: "http://anvil:8545"
